#define WINE_FILEDESCRIPTION_STR "Microsoft DirectWrite"
#define WINE_FILENAME_STR "dwrite.dll"
#define WINE_FILEVERSION 6,1,7600,16385
#define WINE_FILEVERSION_STR "6.1.7600.16385"
#define WINE_PRODUCTVERSION 6,1,7600,16385
#define WINE_PRODUCTVERSION_STR "6.1.7600.16385"

#include "wine/wine_common_ver.rc"
