#define WINE_FILEDESCRIPTION_STR "DirectX Graphics Infrastructure"
#define WINE_FILENAME_STR "dxgi.dll"
#define WINE_FILEVERSION 6,2,9200,16384
#define WINE_FILEVERSION_STR "6.2.9200.16384"
#define WINE_PRODUCTVERSION 6,2,9200,16384
#define WINE_PRODUCTVERSION_STR "6.2.9200.16384"

#include "wine/wine_common_ver.rc"
