LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_DEVICES DIALOGEX 0, 0, 246, 210
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Devices"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Bluetooth devices known to this computer:", IDC_DEVICELIST_HINT, 7, 7, 232, 8
    CONTROL "", IDC_DEVICELIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 7, 20, 232, 183
END

STRINGTABLE
BEGIN
    IDS_CPLNAME "Bluetooth Devices"
    IDS_CPLDESCRIPTION "View the Bluetooth devices known to this computer."
    IDS_COLUMN_DEVICE "Device"
    IDS_COLUMN_ADDRESS "Address"
END
