#define WINE_FILEDESCRIPTION_STR "Direct3D 12 Runtime"
#define WINE_FILENAME_STR "d3d12.dll"
#define WINE_FILEVERSION 10,0,19041,1
#define WINE_FILEVERSION_STR "10.0.19041.1"
#define WINE_PRODUCTVERSION 10,0,19041,1
#define WINE_PRODUCTVERSION_STR "10.0.19041.1"

#include "wine/wine_common_ver.rc"
