#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION "ReactOS Kernel Base API"
#define REACTOS_STR_INTERNAL_NAME    "kernelbase"
#define REACTOS_STR_ORIGINAL_FILENAME "kernelbase.dll"
#include <reactos/version.rc>
